html,
body {
  height: 100%;
  margin: 0;
  padding: 0em;
  background-color: whitesmoke;
  font-family: Roboto, monospace, sans-serif;
  font-size: 14px;
}

.full-container-centered {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

