.card-header {
    background-color: lightskyblue;
    font-weight: 550;

    .fa-arrow-left {
        margin-right: 200px;
        font-size: 18px;
        color: gray;
        cursor: pointer;
    }
}