<section *ngIf="categories" class="new-book animated fadeIn">
  <form class="new-book-form" novalidate>

    <div class="divider div-transparent"></div>

    <div class="form-group row">
      <div class="col-12 centered-label">
        <label class="col-form-label">Наслов дела</label>
        <input type="text" class="form-control">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-12 centered-label">
        <label class="col-form-label">Аутор(и)</label>
        <input type="text" class="form-control">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-6 centered-label">
        <label class="col-form-label">Издавач</label>
        <input type="text" class="form-control">
      </div>
      <div class="col-6 centered-label">
        <label class="col-form-label">Издање</label>
        <input type="text" class="form-control">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-3 centered-label">
        <label class="col-form-label">Година издања</label>
        <input type="text" class="form-control">
      </div>
      <div class="col-3 centered-label">
        <label class="col-form-label">Број страна</label>
        <input type="text" class="form-control">
      </div>
      <div class="col-6 centered-label">
        <label class="col-form-label">Језик публикације</label>
        <select class="custom-select">
          <option selected>Изаберите језик публикације</option>
          <option value="1">Српски</option>
          <option value="2">Немачки</option>
          <option value="3">Руски</option>
          <option value="4">Енглески</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-6 centered-label">
        <label class="col-form-label">Форма</label>
        <select class="custom-select">
          <option selected>Изаберите форму</option>
          <option value="1">Папирна</option>
          <option value="2">Електронска</option>
        </select>
      </div>
      <div class="col-6 centered-label">
        <label class="col-form-label">Место чувања</label>
        <select class="custom-select">
          <option selected>Изаберите место чувања</option>
          <option value="1">Нови Сад</option>
          <option value="2">Факултет</option>
          <option value="3">Стара Пазова</option>
          <option value="4">Друго</option>
        </select>
      </div>
    </div>

    <div class="form-group row mb-5">
      <div class="col-9 centered-label">
        <label class="col-form-label">Област</label>
        <select class="custom-select">
          <option selected>Изаберите област</option>
          <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
        </select>
      </div>
      <div class="col-3 centered-label">
        <label class="col-form-label">Инвентарски број</label>
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="divider div-transparent"></div>
    <div class="d-flex justify-content-around">
      <button class="btn btn-outline-success btn-lg">Сачувај <i class="far fa-save"></i></button>
      <button class="btn btn-outline-secondary btn-lg">Очисти <i class="fas fa-eraser"></i></button>
    </div>
  </form>

</section>
