<div class="buttons-column">
  <button type="button" class="btn btn-outline-success btn-lg" (click)="newBookPage()">Унос <i class="ml-2 fas fa-book-medical"></i></button>
  <button type="button" class="btn btn-outline-secondary btn-lg">Претрага <i class="ml-2 fas fa-search"></i></button>
  <button type="button" class="btn btn-outline-info btn-lg" (click)="viewBooksPage()">Преглед <i class="ml-2 fas fa-book"></i></button>
  <button type="button" class="btn btn-outline-danger btn-lg">Брисање <i class="ml-2 fas fa-book-dead"></i></button>
</div>
