<div class="buttons-column">
  <button type="button" class="btn btn-outline-success btn-lg" (click)="newBookPage()">Унос нове књиге</button>
  <button type="button" class="btn btn-outline-info btn-lg" (click)="viewBooksPage()">Преглед свих књига</button>
</div>

<div class="buttons-column">
  <button type="button" class="btn btn-outline-secondary btn-lg" (click)="newCategoryPage()">Унос нове категорије</button>
  <button type="button" class="btn btn-outline-primary btn-lg" (click)="viewCategoriesPage()">Преглед свих категорија</button>
</div>
