.table {
  background-color: white;
  font-size: 12px;

  thead {
    th {
      font-weight: 600;
    }
  }

  tbody {
    tr:hover {
      background-color: lightsteelblue;
      color: white;
      cursor: pointer;
    }
  }
}

.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightskyblue;
  font-weight: 650;
  font-size: 16px;
}

.modal-body {
  display: flex;
  justify-content: space-around;
}

.modal-footer {
  display: flex;
  justify-content: center;
}