.book-list {
  display: grid;
  grid-template-columns: repeat(6, minmax(100px, auto));
  grid-template-rows: repeat(3, auto);
  gap: 1em;

  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */

  .book {
    background: #fff;
    padding: .8em;
    text-align: center;

    img {
      width: 140px;
      height: 140px;
    }

    .title {
      margin-top: 1em;
      font-weight: bolder;
      font-size: 1.1em;
    }

    .authors {
      margin-top: 1.3em;
    }

    .language {
      margin-top: 1em;
    }

    .publisher {
      margin-top: 1.2em;
    }

    .inventory-number {
      margin-top: 1.2em;
      text-decoration: underline;

      .number {
        font-weight: bolder;
      }
    }

    .created-at {
      margin-top: 1.2em;
      font-style: italic;
    }
  }

  .book:hover {
    cursor: pointer;
    box-shadow: 12px 10px 14px -8px rgba(0,0,0,0.73);
  }
}

.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightskyblue;
  font-weight: 650;
  font-size: 16px;
}

.modal-body {
  display: flex;
  justify-content: space-around;
}

.modal-footer {
  display: flex;
  justify-content: center;
}
