<app-spinner [showSpinner]="isLoading" message="Учитавање књига"> </app-spinner>

<div class="animated fadeIn book-list" *ngIf="!isLoading">

  <div *ngFor="let book of books" class="book" (click)="bookDetails(book.id)">
    <img class="book-img" src="https://www.knjizara.com/slika/Zlocin-i-kazna-65474.jpg" />
    <div class="title">{{book.title}}</div>
    <div class="authors">{{book.authors}}</div>
    <div class="language">Језик: <span class="font-weight-bold font-italic">{{book.publicationLanguage}} </span></div>
    <div class="publisher">{{book.publisher}}, {{book.publishedYear}}</div>
    <div class="mt-2 divider div-transparent"></div>
    <div class="inventory-number">Број: <span class="number">{{book.inventoryNumber}}</span></div>
  </div>

</div>