<app-spinner [showSpinner]="isLoading" message="Учитавање књига"> </app-spinner>

<ng-template #content let-modal>
  <div class="modal-header">
    <h2 class="modal-title">Изаберите понуђене опције</h2>
  </div>
  <div class="modal-body">
    <button type="button" class="btn btn-outline-warning">Измени податке</button>
    <button type="button" class="btn btn-outline-danger">Обриши књигу</button>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Назад</button>
  </div>
</ng-template>

<section *ngIf="!isLoading" class="all-books">
  <table class="animated fadeIn table table-hover">
    <thead>
      <tr>
        <th scope="col">Наслов</th>
        <th scope="col">Аутори</th>
        <th scope="col">Издавач</th>
        <th scope="col">Година издања</th>
        <th scope="col">Издање</th>
        <th scope="col">Број страна</th>
        <th scope="col">Језик издања</th>
        <th scope="col">Форма</th>
        <th scope="col">Место чувања</th>
        <th scope="col">Инвентарски број</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books" (click)="displayOptions(content, book.id)">
        <td>{{book.title}}</td>
        <td>{{book.authors}}</td>
        <td>{{book.publisher}}</td>
        <td>{{book.publishedYear}}</td>
        <td>{{book.publication}}</td>
        <td>{{book.publication}}</td>
        <td>{{book.publicationLanguage}}</td>
        <td>{{book.form}}</td>
        <td>{{book.keepingPlace}}</td>
        <td>{{book.inventoryNumber}}</td>
      </tr>
    </tbody>
  </table>

</section>
